# General part, always applicable
#
BNN_VERSION=0.1
BNN_DATA="mysql"
#BNN_DATA="filesystem"
BNN_LOGFILE_PATH="./"
BNN_LOGFILE_NAME="bnn.log"
BNN_TEMP_DIR="/dev/shm/"
BNN_WORKING_DIR="./"
# when y a file named same as prototype filename with _<timestamp> before any (first) . added is saved 
BNN_KEEP_PRODUCTION_FILE=y
# Currently can only be 1
BNN_ITERATIONS=1
BNN_PIPE_OUT_CONFIRM=n
BNN_PIPE_OUT="avrdude"
BNN_PIPE_OUT_AFTER_FILENAME=""

# mysql data method
#
MYSQL_HOST="localhost"
MYSQL_PORT="3306"
# Options below, if set suppress the respective interactive dialog
MYSQL_PROTOTYPE_TABLE="BNN_PROTOTYPES"
MYSQL_PRODUCTION_TABLE="BNN_PRODUCTION"
MYSQL_PROTOTYPE_ENTRY=""
MYSQL_PRODUCTION_ENTRY_STATUS_KEY="UNUSED"

# filesystem data method
#
FILESYS_PROTOTYPE_LIST_PATH="./"
FILESYS_PROTOTYPES_PATH="./prototypes.d/"
FILESYS_PRODUCTION_PATH="./"
FILESYS_PROTOTYPE_LIST_FILE="prototypes"
FILESYS_PRODUCTION_DATA_FILE="production_data"
# Options below, if set suppress the respective interactive dialog
FILESYS_PROTOTYPE_ENTRY=""
FILESYS_PRODUCTION_INDEX_FILE="prod_index"
